:root {
	--black: oklch(0 0 0);
	--white: oklch(1 0 0);
	--green: #8BF904;
	--lite-black: #101112;
	--grey: #D0D6DC;
	--hover: oklch(0.71 0.3437 332.12);
}

* {
	box-sizing: border-box
}

body {
	color: var(--white);
	font-family: "Commissioner";
	font-weight: 400;
	font-size: 22px;
	line-height: 27px;
	background-color: var(--black);
	width: 100%;
	margin: 0;

	@media screen and (max-width: 768px) {
		font-size: 18px;
	}
}

main{
	width: 100%;
/*	margin: 30px auto 30px auto;*/
	margin-top: 30px;
	margin-bottom: 30px;
	transition: opacity 1s ease, transform .5s ease;
	opacity: 0;
  	transform: translateY(5%);
}

p{
	margin: 0 0 15px 0;
}

figure{
	margin: 0;
}

figcaption{
	margin-top: 5px;
	font-size: 16px;
	color: var(--grey);

	@media screen and (max-width: 768px) {
		margin-top: 8px;
		font-size: 14px;
		line-height: 20px;
	}
}

.before-points{
	margin: 0 0 5px 0;
}

ul{
	margin: 0 0 15px 0;
}

h1{
/*	font-size: 252px;*/
	font-size: 17.2vw;
	font-weight: 700;
	text-align: center;
	line-height: .6em;
	margin: 0;

	@media screen and (min-width: 1470px) {
		font-size: 252px;
	}
}

h2{
	font-size: 75px;
	font-weight: 700;
	line-height: .9em;
	margin: 0 0 30px 0;

	@media screen and (max-width: 768px) {
		font-size: 30px;
		margin-bottom: 15px;
	}
}

h3{
	font-size: 32px;
	font-weight: 700;
}

.points{
	font-size: 32px;
	margin: 0 0 20px 0;

	@media screen and (max-width: 768px) {
		font-size: 18px;
		margin-bottom: 8px;
		text-align: center;
	}
}

section{
	margin: 0 auto 80px auto;
	width: 90%;
	max-width: 1320px;

	@media screen and (max-width: 768px) {
		width: 96%;
		margin-bottom: 48px;
	}
}

.real-invise{
	display: grid;
	grid-template-columns: 35fr 65fr;
	gap: 60px;

	@media screen and (max-width: 768px) {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		gap: 10px;
	}
}

.deer-img, .how-it-img, .dont-lose-img{
	width: 100%;
}

.parallax-container{
	width: 100%;
	aspect-ratio: 100 / 67.5;
	overflow: hidden;
	position: relative;
}

.parallax-img{
/*	transform: translateY(-30%);*/
	position: absolute;
}

.shirt-works-too .right{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	transform: translateY(-10%);

	@media screen and (max-width: 768px) {
		transform: translateY(0%);
	}
}

.shirt-img{
	width: 65%;
	position: absolute;
	filter: drop-shadow(0 21px 16px rgba(0, 0, 0, .18));
}

.shirt1{
	left: 35%;
	transform: translateY(46%);
}

.shirt2{
	left: 17.5%;
	top: 15%;
}

.shirt3{
}

.product-card-container{
	width: 50%;
	height: 1110px;
	overflow: hidden;
	position: absolute;
	transform: translateY(-110%) translateX(100%);
	@media screen and (max-width: 768px) {
		width: 100%;
		height: 750px;
		transform: translateY(-135%) translateX(0%);
	}
}

.product-card{
	width: 860px;
	position: relative;
	overflow: hidden;
	transform: translateY(150px);
	@media screen and (max-width: 768px) {
		width: 450px;
		transform: translateX(10%) translateY(100px);
	}
}

.mountains-photo{
	background-image: url("images/mountain.jpg");
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	padding: 60px 0 500px 0;

  	@media screen and (max-width: 768px) {
  		padding: 30px 0 450px 0;
  	}
}

.mountains-photo section{
	max-width: 1040px;
}

#start-figure{
	@media screen and (max-width: 768px) {
		padding-top:100px
	}
}

.start-image{
	background-image: url("images/start.jpg");
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	height: 1330px;
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-end;
  	padding-bottom: 450px;

  	@media screen and (max-width: 768px) {
  		justify-content: flex-start;
		height: 700px;
		h1{
			position: absolute;
			transform: translateY(-100px);
		}
	}
}

.start-image .arrow{
	position: relative;
	left: 40%;
	bottom: -325px;
	width: 200px;

	figcaption{
		color: #628898;
		position: relative;
		left: 35px;
		top: -15px;
	}

	@media screen and (max-width: 768px) {
		bottom: -595px;
	}

	@media screen and (max-width: 400px) {
		left: 35%;
	}
}

.mountains-photo .arrow{
	position: relative;
	right: -60%;
	bottom: -10px;
	width: 200px;

	figcaption{
		color: #B3D9FF;
		position: relative;
		left: 25px;
		top: -65px;
	}

	@media screen and (max-width: 1050px) {
		display: none;
	}
}

.how-it-works{
	display: grid;
	grid-template-columns: 60fr 40fr;
	gap: 60px;

	@media screen and (max-width: 768px) {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		gap: 10px;

		.left {
			order: 2;
			margin-top: -20px;
		}
		.right {
			order: 1;
		}
	}
}

.shirt-works-too{
	display: grid;
	grid-template-columns: 35fr 65fr;
	gap: 60px;

	@media screen and (max-width: 768px) {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		gap: 10px;

		.right{
			margin-top:10px;
		}
	}
}

.dont-lose{
	display: grid;
	grid-template-columns: 60fr 40fr;
	gap: 60px;

	@media screen and (max-width: 768px) {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		gap: 10px;

		.left {
			order: 2;
		}
		.right {
			order: 1;
		}
	}
}

.faq{
	width: 700px;
	margin: 0 auto 80px auto;
	@media screen and (max-width: 768px) {
		width: 96%
	}
}

.faq h2{
	text-align: center;
	@media screen and (max-width: 768px) {
		text-align: left;
	}
}

.faq h3{
	text-align: center;
	margin: 0;
	line-height: 39px;

	@media screen and (max-width: 768px) {
		font-size: 22px;
		text-align: left;
	}
}

.faq p{
	text-align: center;
	@media screen and (max-width: 768px) {
		text-align: left;
	}
}

.please-buy-me{
	background-color: var(--lite-black);
	padding: 80px 60px 90px 60px;
	border-radius: 20px;
	margin-top: 150px;
	margin-bottom: 300px;
	position: relative;

	@media screen and (max-width: 768px) {
		margin-top: 275px;
		padding: 250px 0 45px 0;
		margin-bottom: 120px;

		div #class-heading{
			text-align: center;
		}

		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.please-buy-me div{
	margin: 0 0 80px 0;
	@media screen and (max-width: 768px) {
		margin-bottom: 30px;
	}
}

.button{
	background-color: var(--green);
	padding: 25px 44px 32px 44px;

	color: var(--black);
	font-size: 40px;
	font-weight: 500;
	border-radius: 20px;

	display: inline-block;
	text-decoration: none;
	transition: background-color .6s ease, color .6s ease;

	@media screen and (max-width: 768px) {
		font-size: 30px;
	}
}

a.button:hover{
	background-color: var(--hover);
	color: var(--white);
	transition: background-color 0s ease, color 0s ease;
}

.footer{
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		p{
			margin: 0;
		}
	}
}

.footer .links{
	display: flex;
	flex-direction: row;
	gap: 30px;
	@media screen and (max-width: 768px) {
		gap: 15px
	}
}

.icon{
	width: 24px;
	height: 24px;
	border-radius: 5px;
	transform: translateY(15%);
	margin-left: 4px;
	@media screen and (max-width: 768px) {
		transform: translateY(25%);
	}
}

.classic-link{
	text-decoration: none;
	border-bottom: 0.5px solid oklch(1 0 0 / 0.5);
	padding-bottom: .6px;
	color: var(--white);
	transition: color .6s ease, border-bottom .6s ease;
}

a.classic-link:hover{
	color: var(--hover);
	border-bottom:  0.5px solid oklch(0.71 0.3437 332.12 /.5);
	cursor: pointer;
	transition: color 0s ease, border-bottom 0s ease;
}

ul{
	padding: 0;
}

ul li{
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: 20px;

	@media screen and (max-width: 768px) {
		margin-bottom: 5px;
	}
}